

html, body {
  margin: 0px;
  padding: 0px;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#header {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30pt;
  color: #ff960e;
  width: 100%;
  height: 60pt;
  text-align: center;
  background-color: rgb(107, 90, 90);
  border-bottom: 3px dotted rgb(93, 78, 78);
  padding: 30px;


}



body{
  background-color:gray;
}

.h{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30pt;
  font-weight: bold;
  fill:#cc9966;
}


#chart {
  width: 100%;
  height: 600px;
}



.axisLabel {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16pt;
  font-weight: bold;
  fill:#cc9966;
}


.btn {
  border: 5px solid black;
  border-radius: 15px;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}


.btn1:hover {
  background-color: #ff0000;
  color: white;
}

.btn3:hover {
  background-color: #ff9900;
  color: white;
}

.btn5:hover {
  background-color: #ffff66;
  color: white;
}

.btn7:hover {
  background-color: #00cc66;
  color: white;
}

.btn8:hover {
  background-color: #00ffff;
  color: white;
}

.btn10:hover {
  background-color: #0099ff;
  color: white;
}

.btn12:hover {
  background-color: #9900ff;
  color: white;
}

