*{
	margin:0px;
	padding:0px;
}

body{
    background-color: rgb(246, 245, 233);
    font-size: 30px;

}

#header{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;


}

#outer{
	width:600px;/*图片的宽高度自适应*/
	padding:10px;/*内边距为10*/
	margin:600px auto;/*让整个div居中*/
	background-color:rgb(246, 241, 196);/*设置背景颜色*/
	text-align:center;/*使按钮居中*/
}

#pid{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;


}