*{
	margin:0px;
	padding:0px;
}

body{
    background-color: rgb(246, 245, 233);
}

#content{
    font-family: serif;
    text-align: center;
    width: 300px;
    font-size: 20px;
    color: rgb(87, 87, 87);

}

#header{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(78, 62, 62);
    font-size: 80px;
}

#outer{
	width:600px;/*图片的宽高度自适应*/
	padding:10px;/*内边距为10*/
	margin:100px auto;/*让整个div居中*/
	background-color:rgb(246, 241, 196);/*设置背景颜色*/
	text-align:center;/*使按钮居中*/
}

#pid{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;


}