* {
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0px;
    padding: 0px;
    font-family: "Futura",'Arial Narrow', sans-serif;
  }
  
  #maintitle {
    font-family: "Helvetica Neue", Arial, sans-serif;
    text-align: center;
    font-size: 84pt;
    margin-bottom: 0;
  }
  
  .titlecontainer {
    text-align: center;
    width: 100%;
    grid-area: title;
  }
  
  .word {
    font-size:84pt;
    font-weight:bold;
    margin: 7px auto;
    width: 100%;
    position: absolute;
    opacity:0;
  }
  
  .black {
    animation: w1anim 15s infinite;
  }
  
  .midnight {
    animation: w2anim 15s infinite;
    color: #082e4b;
  }
  
  .charcoal {
    animation: w3anim 15s infinite;
    color: #404041;
  }
  
  .taupe {
    animation: w4anim 15s infinite;
    color: #725d4e;
  }
  
  .anthracite {
    animation: w5anim 15s infinite;
    color: #373f41;
  }
  
  
  @keyframes w1anim {
    0%{
      opacity: 0;
    }
    10%{
      opacity: 1;
    }
    20% {
      opacity:0;
    }
  }
  
  
  @keyframes w2anim {
    20%{
      opacity: 0;
    }
    30%{
      opacity: 1;
    }
    40% {
      opacity:0;
    }
  }
  
  @keyframes w3anim {
    40%{
      opacity: 0;
    }
    50%{
      opacity: 1;
    }
    60% {
      opacity:0;
    }
  }
  
  @keyframes w4anim {
    60%{
      opacity: 0;
    }
    70%{
      opacity: 1;
    }
    80% {
      opacity:0;
    }
  }
  
  @keyframes w5anim {
    80%{
      opacity: 0;
    }
    90%{
      opacity: 1;
    }
    100% {
      opacity:0;
    }
  }
  
  #intro {
    text-align: center;
    font-size: 18pt;
    grid-area: intro;
    padding-left: 200px;
    padding-right: 200px;
  }
  
  #versus {
    text-align: center;
  }
  
  .button {
    background-color: white;
    color: black;
    border: 2px solid black !important;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: 0;
  }
  
  .button:hover {
    background-color: black;
    color: white;
    outline: 0;
  }
  
  .button:focus {
    background-color: black;
    color: white;
    outline: 0;
  }
  
  #chartcontainer {
    grid-area: chart;
    font-family: "Futura",'Arial Narrow', sans-serif;
  }
  
  #chart {
    width: 100%;
    height: 80vh;
  }
  
  #container {
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
      "title"
      "intro"
      "intro"
      "intro"
      "chart"
      "chart"
      "chart";
  }
  
  
  
  